@font-face {
    font-family: 'Lato-Regular';
    src: url('assets/fonts/Lato-Regular.eot');
    src: url('assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Lato-Regular.svg#Lato-Regular') format('svg'),
        url('assets/fonts/Lato-Regular.ttf') format('truetype'),
        url('assets/fonts/Lato-Regular.woff') format('woff'),
        url('assets/fonts/Lato-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Black';
    src: url('assets/fonts/Lato-Black.eot');
    src: url('assets/fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Lato-Black.svg#Lato-Black') format('svg'),
        url('assets/fonts/Lato-Black.ttf') format('truetype'),
        url('assets/fonts/Lato-Black.woff') format('woff'),
        url('assets/fonts/Lato-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('assets/fonts/Lato-Bold.eot');
    src: url('assets/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Lato-Bold.svg#Lato-Bold') format('svg'),
        url('assets/fonts/Lato-Bold.ttf') format('truetype'),
        url('assets/fonts/Lato-Bold.woff') format('woff'),
        url('assets/fonts/Lato-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Lato-Light';
    src: url('assets/fonts/Lato-Light.eot');
    src: url('assets/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Lato-Light.svg#Lato-Light') format('svg'),
        url('assets/fonts/Lato-Light.ttf') format('truetype'),
        url('assets/fonts/Lato-Light.woff') format('woff'),
        url('assets/fonts/Lato-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

*:active,
*:hover,
*:focus {
    outline: 0;
    outline-offset: 0;
}

body {
    background-color: aliceblue;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.page_wrapper {
    width: 1020px;
    margin: 0 auto;
    color: #666d89;
}

.portfolio_section {
    height: 738px;
    background-color: #2d303a;
    border-bottom: 7px solid #323746;
    padding: 54px 40px 71px;
}

.portfolio_section-title {
    font-family: 'Lato-Black', sans-serif;
    font-size: 30px;
    margin-top: 6px;
    letter-spacing: 0.1px;

}

.portfolio_section-subtitle {
    font-family: 'Lato-Light', sans-serif;
    font-size: 18px;
    margin-top: 22px;
    letter-spacing: -0.23px;
}

.portfolio_section-nav {
    display: flex;
    margin-top: 15px;
    width: 289px;
    justify-content: space-between;
}

.portfolio_section-nav--item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 6px 3px;
    border: 1px solid #666d89;
    border-radius: 5px;

}

.portfolio_section-nav--item_active,
.portfolio_section-nav--item:hover {
    border-color: #dedede;

}

.portfolio_section-nav--link {
    font-family: 'Lato-Regular', sans-serif;
    color: #666d89;
    font-size: 12px;
}


.portfolio_section-nav--link_active {
    color: #dedede;
}

.portfolio_gallery {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    max-height: 620px;
    justify-content: space-between;
    overflow: hidden;
}

.portfolio_gallery-item {
    width: 220px;
    height: 187px;
    margin-bottom: 20px;
    transition: 1s ease;
}

.portfolio_gallery-item:hover {
    filter: hue-rotate(360deg);
    transform: scale(1.1);
    transition: 1s ease;
}

.about_section {
    height: 637px;
    background-color: #f2f2f2;
    padding: 59px 40px 30px;
    border-bottom: 7px solid #fff;
}

.about_section-title {
    font-family: 'Lato-Black', sans-serif;
    font-size: 30px;

}

.about_section-info {
    font-family: 'Lato-Light', sans-serif;
    font-size: 18px;
    margin-top: 19px;
    line-height: 29px;
    letter-spacing: -0.04px;
}

.staff_wrapper {
    display: flex;
    margin-top: 47px;
    width: 942px;
    justify-content: space-between;
}

.staff {
    width: 302px;
}

.staff-name {
    font-family: 'Lato-Black', sans-serif;
    font-size: 18px;
    margin-top: 10px;
    letter-spacing: -0.1px;
    white-space: nowrap;
}

.staff-info {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 12px;
    line-height: 21px;
    margin-top: 10px;
}

.social_wrapper {
    margin-top: 23px;
    display: flex;
    width: 152px;
    justify-content: space-between;
}

.social_icon {
    transition: 0.5s ease;
    border-radius: 50%;

}

.social_icon:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
    
}

.social_icon-fb:hover {
    background-color: rgba(3, 98, 214, 0.3);
}

.social_icon-g:hover {
    background-color: rgba(182, 34, 20, 0.3);
}

.social_icon-tw:hover {
    background-color: rgba(1, 196, 252, 0.3);
}

.social_icon-l:hover {
    background-color: rgba(0, 123, 182, 0.3);
}